* {
    box-sizing: 0;
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(112, 107, 107);
}

header {
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}
nav {
    padding: 10px;
}
.listanav li {
    margin: 10px;
}

.listanavv {
    display: flex;
}
a {
    list-style: none;
}
.separador {
    margin: 0 10px; 
}
h1  {
    justify-content: center;
    display: flex;
    margin-top: 200px;
}
hr  {
    margin: 10px;
    display: flex;
    border: solid 3px grey;
}
div.contenedor { 
    display: flex;
    justify-content: center;
}
section.seccionregistro {
    width: 800px;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: white;
  }
  .informacion2 {
    display: block;
    margin-bottom: 5px;
    
  }
  input[type="text"], textarea  {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  
   }
  button {
    padding: 6px 10px;
    margin-right: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
   }
   .caja-mayor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
   }
   .informacion {
    display: block;
    margin-bottom: 5px;
  }
  #contraseña {
    width: 100%;
  }
   .caja {
    padding: 20px;
    border-radius: 5px;
    border: 2px solid white;
    height: 220px;
    width: 200px;
   }
   .img1 {
    width: 100%;
    height: 150px;
   }
   .img2 {
    width: 100%;
    height: 150px;
   }
   .img3 {
    width: 100%;
    height: 150px;
   }
   .precio {
    text-align: center;
    
   }

   div.tablaestilo {
    text-align: center;
    margin: 0 auto;
    max-width: 300px;
   }

   td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
   }
   th{
    border: 1px solid black;
    padding: 8px;
    text-align: left;
   } 